
.marginClass{
margin: 2px;
padding: 0;
}
.social_icon{
  z-index: 2000;
  opacity: 1;

}
.social_icon span:hover{
color: white;
cursor: pointer;
}


.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #12a4ff;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}
.card-header{
  height: 60px;
}
.links a{
margin-left: 4px;
}
.modelHeader{
  background: red;
  background-color: blue;
}
