.card {
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover{
  box-shadow:0 8px 1px 0 rgba(0,0,0,0.2);

}

.CardContainer {
  padding: 0;
}
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
